body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}
.port-cards {
  margin: 20px;
  margin: 0, auto;
  display: block;
}

.port-imgs {
  border-radius: 10px;
  width: 350px;
  height: 220px;
  box-shadow: 0px 0px 15px 10px #ccc;
  margin: 10px;
  margin-top: 100px;
  /* -webkit-filter: blur(3px); */
  cursor: pointer;
}
.port-imgs:hover {
  -webkit-filter: blur(0px);
}

.port-title {
  font-size: 24px;
  margin: 0px;
  font-weight: bolder;
}

.port-info {
  margin-top: 10px;
  min-height: 40px;
}

.port-subtitles {
  margin: 0px;
  font-size: 16px;
}

.content-text {
  box-shadow: 0px 0px 8px 8px #ccc;
}

.content {
  min-height: 350px;
}

ul {
  list-style: none;
}
li {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}

.wrapper {
  flex: 1 0 auto;
}

#sticky-footer {
  margin-top: 250px;
}
